.noteform {
  width: 30rem;
  height: fit-content;
  border-radius: 0.5rem;
}

.noteform form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5rem;
  min-height: 10rem;
  padding: 1rem;
  background-color: lightblue;
  border: 1px solid black;
}

.noteform form input {
  padding: 0.3rem 0.5rem;
  width: 27.5rem;
  margin: 0rem;
  border-radius: 0.3rem;
}

.noteform form textarea {
  width: 27.5rem;
  height: 6rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin: 0.3rem 0 0.3rem 0;
  resize: none;
  outline: none;
}
